Repository MissouriMRDT/Autonomy_Software: changes, and which Codecov flags are due for each by the changed paths.
All: unit_tests, integration_tests, algorithms, drivers, handlers, interfaces, states, util, vision

Resolve invalid file
  codecov.yml
Due: none

Try more direct ignore
  codecov.yml
Due: none

Added obstacle init unit test
  src/algorithms/planners/AStar.cpp
  src/algorithms/planners/AStar.h
  tests/Unit/src/algorithms/pathplanners/AStarPlanner.cc
Due: unit_tests, algorithms

fixed refactor typo
  src/algorithms/planners/AStar.cpp
Due: algorithms

Removed vector re-declaration
  tests/Unit/src/algorithms/pathplanners/AStarPlanner.cc
Due: unit_tests

Fix segfault.
  src/AutonomyConstants.h
  src/vision/cameras/ZEDCam.cpp
Due: vision

Fix Coverage
  CMakeLists.txt
  codecov.yml
Due: none

Deepsource: const ref in YOLO
  src/util/vision/YOLOModel.hpp
Due: util

Deepsource: Error check in Logging
  src/AutonomyLogging.cpp
Due: none

Deepsource: floating point suffix
  src/drivers/DriveBoard.cpp
  src/vision/aruco/TagDetector.h
Due: drivers, vision

Deepsource: Implicit conversion
  src/algorithms/planners/AStar.cpp
Due: algorithms

Test Fix
  .github/workflows/coverage.yml
  codecov.yml
Due: none

Deepsource: loop value type
  src/algorithms/planners/AStar.cpp
Due: algorithms

Another test
  .github/workflows/coverage.yml
  codecov.yml
Due: none

Another test
  .github/workflows/coverage.yml
Due: none

Fix again
  codecov.yml
Due: none

Deepsource: performance fix
  src/util/vision/YOLOModel.hpp
Due: util

Deepsource: conversion
  src/algorithms/planners/AStar.cpp
Due: algorithms

Path conditions:
  unit_tests: any of: tests/Unit/, but not: /usr/include/*
  integration_tests: any of: tests/Integration/, but not: /usr/include/*
  algorithms: any of: src/algorithms, but not: /usr/include/*
  drivers: any of: src/drivers, but not: /usr/include/*
  handlers: any of: src/handlers, but not: /usr/include/*
  interfaces: any of: src/interfaces, but not: /usr/include/*
  states: any of: src/states, but not: /usr/include/*
  util: any of: src/util, but not: /usr/include/*
  vision: any of: src/vision, but not: /usr/include/*
